SUPABASE_URL = 'https://iwevhextahozqtlrfpjm.supabase.co'
SUPABASE_ANON_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml3ZXZoZXh0YWhvenF0bHJmcGptIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcxMzA1NTEsImV4cCI6MjA4MjcwNjU1MX0.3UefHZDlxnqoPoasrISK6ZNpXZ4ucNjYUZ5bLxYr_1g'